@import "../../App.scss";

.ant-layout-header{
  background: #6A4724;
}

// .ant-btn-link{
//   color: #FFFFCB;
// }

.menu-top {
  display: flex;

  button {
    color: #FFFFFF;

    &:hover {
      color: #F3F4A8;
    }
    &:focus,
    &:active {
      color: #FFFFFF;
    }
  }

  &__left {
    &-logo {
      width: 120px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}